<%= form_for(@address) do |f| %>
  <% if @address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
      <% @address.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Adresszeile1 %><br />
    <%= f.text_field :line1 %>
  </div>
  <div class="field">
    <%= f.label :Adresszeile2 %><br />
    <%= f.text_field :line2 %>
  </div>
  <div class="field">
    <%= f.label :Adresszeile3 %><br />
    <%= f.text_field :line3 %>
  </div>
  <div class="field">
    <%= f.label :Ort %><br />
    <%= f.text_field :place %>
  </div>
  <div class="field">
    <%= f.label :PLZ %><br />
    <%= f.text_field :zip %>
  </div>
  <div class="actions">
    <%= f.submit "Adresse ändern" %>
  </div>
<% end %>
