<h1>Übersicht Adressen</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Adresszeile1</th>
    <th>Adresszeile2</th>
    <th>Adresszeile3</th>
    <th>Ort</th>
    <th>PLZ</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @addresses.each do |address| %>
  <tr>
    <td><%= address.id %></td>
    <td><%= address.line1 %></td>
    <td><%= address.line2 %></td>
    <td><%= address.line3 %></td>
    <td><%= address.place %></td>
    <td><%= address.zip %></td>
    <td><%= link_to 'Anzeigen', address %></td>

    <% if write_access? address %>
      <td><%= link_to 'Bearbeiten', edit_address_path(address) %></td>
      <td><%= link_to 'Löschen', address, :confirm => 'Adresse wirklich löschen?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if write_access? %>
<%= link_to 'Neue Adresse erstellen', new_address_path %>
<% end %>
