<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @address.id %>
</p>

<p>
  <b>Adresszeile1:</b>
  <%= @address.line1 %>
</p>

<p>
  <b>Adresszeile2:</b>
  <%= @address.line2 %>
</p>

<p>
  <b>Adresszeile3:</b>
  <%= @address.line3 %>
</p>

<p>
  <b>Ort:</b>
  <%= @address.place %>
</p>

<p>
  <b>PLZ:</b>
  <%= @address.zip %>
</p>


<%= link_to 'Bearbeiten', edit_address_path(@address) %> |
<%= link_to 'Zurück', addresses_path %>
