<% fields =  Address.column_names + ['gps_position'] %>
<% fields.each do |f| %>
  <p>
    <b><%= Address.human_attribute_name(f) %>:</b>
    <%= @address.send(f) %>
  </p>
<% end %>
<%= render :partial => "map", :gps_position => @address.gps_position %>

<%= link_to t(:edit), edit_address_path(@address) %> |
<%= link_to t(:back), addresses_path %>
