<h1>Listing locations</h1>

<table>
  <tr>
    <th>latitude</th>
    <th>logitude</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @locations.each do |location| %>
  <tr>
    <td><%= location.latitude %></td>
    <td><%= location.logitude %></td>
    <td><%= link_to 'Show', location %></td>
    
    <% if write_access? location %>
      <td><%= link_to 'Edit', edit_location_path(location) %></td>
      <td><%= link_to 'Destroy', location, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if write_access? %>
<%= link_to 'New location', new_location_path %>
<%  end %>