<h1>Übersicht Koordinaten</h1>

<table>
  <tr>
    <th>Breitengrad</th>
    <th>Längengrad</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @locations.each do |location| %>
  <tr>
    <td><%= location.latitude %></td>
    <td><%= location.logitude %></td>
    <td><%= link_to 'Anzeigen', location %></td>
    
    <% if write_access? location %>
      <td><%= link_to 'Bearbeiten', edit_location_path(location) %></td>
      <td><%= link_to 'Löschen', location, :confirm => 'Koordinaten wirklich löschen?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if write_access? %>
<%= link_to 'Neue Koordinaten', new_location_path %>
<%  end %>