<p id="notice"><%= notice %></p>

<p>
  <b>latitude:</b>
  <%= @location.latitude %>
</p>

<p>
  <b>logitude:</b>
  <%= @location.logitude %>
</p>


<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to t(:back), locations_path %>
