<%= form_for(@customer) do |f| %>
  <%= form_error_messages f %>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.select("address_id", Address.for_select, {:include_blank => true}) %>
    <% if write_access? Address.new %>
      <%= link_to 'Neue ' + Address.model_name.human + ' erfassen', new_address_path %>
    <% end %>
  </div>


  <%#*Versuch einer Nested Form mit Adressen%>
  <%#*=============================================%>

  <%# f.fields_for :address do |address_fields| %>
  <%#*<div class="field">%>
  <%#= address_fields.label :line1 %>
  <%#= address_fields.text_field :line1 %>
  <%#*</div>%>
  <%#*Löschen: <%= address_fields.check_box :_destroy %>
  <%# end %>

  <%# f.fields_for :address do |address_form| % >

  <div class="field">
  <%= adress_form.label :Adresszeile1 % >
  <%= adress_form.text_field :line1 % >
  </div>

  <div class="field">
  <%= adress_form.label :Adresszeile2 % >
  <%= adress_form.text_field :line2 % >
  </div>

  <div class="field">
  <%= adress_form.label :Adresszeile3 % >
  <%= adress_form.text_field :line3 % >
  </div>

  <div class="field">
  <%= adress_form.label :Ort % >
  <%= adress_form.text_field :place % >
  </div>

  <div class="field">
  <%= adress_form.label :zip % >
  <%= adress_form.text_field :zip % >
  </div>

  <% unless adress_form.object.new_record? % >
  <% # Don't forget to name both of these '_destroy' in Rails 3 % >
  <%= adress_form.check_box '_destroy' % >
  <%= child_form.label '_destroy', 'Remove' % >
  <% end % >

  <% end %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
