<h1>Übersicht Kunden</h1>

<table>
  <tr>
    <th>Vorname</th>
    <th>Nachname</th>
    <th>Telefonnummer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.first_name %></td>
    <td><%= customer.last_name %></td>
    <td><%= customer.phone %></td>
    <td><%= link_to 'Anzeigen', customer %></td>

    <% if write_access? customer %>
      <td><%= link_to 'Bearbeiten', edit_customer_path(customer) %></td>
      <td><%= link_to 'Löschen', customer, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<% if write_access? %>
  <%= link_to 'Neuen Kunden erstellen', new_customer_path %>
<% end %>
