<h1>Listing customers</h1>

<table>
  <tr>
    <th>First_name</th>
    <th>Last_name</th>
    <th>Phone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.first_name %></td>
    <td><%= customer.last_name %></td>
    <td><%= customer.phone %></td>
    <td><%= link_to 'Show', customer %></td>

    <% if write_access? customer %>
      <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
      <td><%= link_to 'Destroy', customer, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<% if write_access? %>
  <%= link_to 'New customer', new_customer_path %>
<% end %>
