<h1><%= t(:overview)%> Kunden</h1>

<table>
  <tr>
    <th><%= Customer.human_attribute_name(:id) %></th>
    <th><%= t :name %></th>
    <th><%= Customer.human_attribute_name(:phone) %></th>
    <th><%= Customer.human_attribute_name(:address) %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @customers.each do |customer| %>
    <tr>
      <td><%= customer.id %></td>
      <td><%= customer %></td>
      <td><%= customer.phone %></td>
      <td><%= customer.address unless customer.address.nil? %></td>
      <td><%= link_to t(:show), customer %></td>

      <% if write_access? customer %>
        <td><%= link_to t(:edit), edit_customer_path(customer) %></td>
        <td><%= link_to t(:destroy), customer, :confirm => t(:confirm_delete), :method => :delete %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<br />
<% if write_access? %>
  <%= link_to 'Neuer '+ Customer.model_name.human, new_customer_path %>
<% end %>
