<p id="notice"><%= notice %></p>

<p>
  <b>Vorname:</b>
  <%= @customer.first_name %>
</p>

<p>
  <b>Nachname:</b>
  <%= @customer.last_name %>
</p>

<p>
  <b>Telefonnummer:</b>
  <%= @customer.phone %>
</p>

<%= link_to 'Bearbeiten', edit_customer_path(@customer) %> |
<%= link_to 'Zurück', customers_path %>
