<ul>
  <% applied_materials.each do |applied_material| %>
    <% unless applied_material.material.nil? %>
      <% material = applied_material.material %>
      <li>
        <%= link_to material do %><%= material %>, <%= (number_to_currency material.price) unless material.price.nil? %> (<%= applied_material.amount %> Stück)<% end -%>
        &nbsp;<%= link_to t(:destroy), applied_material, :confirm => t(:confirm_delete), :remote => true, :method => :delete %>
      </li>
    <% end %>
  <% end %>
</ul>
