<%= form_for(@order) do |f| %>
  <%= form_error_messages f %>

  <div class="field">
    <%= f.label :customer_id %>
    <%= f.select(:customer_id, Customer.for_select, { :include_blank => true }) %>
  </div>

  <div class="field">
    <%= f.label :address_id %>
    <%= f.select(:address_id, Address.for_select, { :include_blank => true }) %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
