<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Erstellt_am %><br />
    <%= f.datetime_select :created_at %>
  </div>
  <div class="field">
    <%= f.label :Beschreibung %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit "Auftrag ändern"%>
  </div>
<% end %>
