<h1>Übersicht Aufträge</h1>

<table>
  <tr>
    <th>Erstellt am</th>
    <th>Beschreibung</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.created_at %></td>
    <td><%= order.description %></td>
    <td><%= link_to 'Anzeigen', order %></td>

     <% if write_access? order %>
        <td><%= link_to 'Bearbeiten', edit_order_path(order) %></td>
        <td><%= link_to 'Löschen', order, :confirm => 'Auftrag wirklich löschen?', :method => :delete %></td>
     <% end %>
  </tr>
<% end %>
</table>

<br />

<% if write_access? %>
  <%= link_to 'Neuen Auftrag erstellen', new_order_path %>
<% end %>
