<p>
  <b><%= Order.human_attribute_name(:customer_id) %>:</b>
  <%= @order.customer %>
</p>

<p>
  <b><%= Order.human_attribute_name(:description) %>:</b>
  <%= @order.description %>
</p>

<p>
  <b><%= Order.human_attribute_name(:address) %>:</b>
  <% unless @order.address.nil? %>
    <%= render :partial => "addresses/address", :locals => { :address => @order.address } %>
    <%= render :partial => "addresses/map", :gps_position => @order.address.gps_position %>
  <% end %>
</p>

<p>
  <b>Stundeneinträge:</b>
  <%= render :partial => "time_entries/table", :locals => { :time_entries => @order.time_entries, :order => @order } %>
</p>

<%= link_to t(:edit), edit_order_path(@order) %> |
<%= link_to t(:back), orders_path %>
