<p id="notice"><%= notice %></p>

<% fields =  Order.column_names %>

<% fields.each do |f| %>
  <th><%= Order.human_attribute_name(f) %></th>
<% end %>


<p>
  <b><%= Order.human_attribute_name(:customer_id) %>:</b>
  <%= [ @order.customer.last_name, @order.customer.first_name ].join(', ') unless @order.customer.nil? %>
</p>

<p>
  <b><%= Order.human_attribute_name(:description) %>:</b>
  <%= @order.description %>
</p>


<p>
  <b>Stundeneinträge:</b>
<table>
  <tr>
    <th>Time entry type</th>
    <th>Beschreibung</th>
    <th>Startzeit</th>
    <th>Endzeit</th>
    <th>Dauer</th>
    <!--<th>Position</th>
    <th>Audio record name</th>-->
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @order.time_entries.each do |time_entry| %>
    <tr>
      <td><%= time_entry.time_entry_type.description unless time_entry.time_entry_type.nil? %></td>
      <td><%= time_entry.description %></td>
      <td><%= l time_entry.time_start %></td>
      <td><%= l time_entry.time_stop %></td>
      <td><%= l Time.at(time_entry.time_stop - time_entry.time_start).gmtime, :format => :time %></td>

      <td><%= link_to t(:show), time_entry %></td>

      <% if write_access? time_entry %>
        <td><%= link_to t(:edit), edit_time_entry_path(time_entry) %></td>
        <td><%= link_to t(:destroy), time_entry, :confirm => t(:confirm_delete), :method => :delete %></td>
      <% else %>
        <td></td>
        <td></td>
      <% end %>
    </tr>
  <% end %>
</table>

</p>


<%= link_to t(:edit), edit_order_path(@order) %> |
<%= link_to t(:back), orders_path %>
