<p id="notice"><%= notice %></p>

<p>
  <b>Erstellt am:</b>
  <%= @order.created_at %>
</p>

<p>
  <b>Beschreibung:</b>
  <%= @order.description %>
</p>


<%= link_to 'Bearbeiten', edit_order_path(@order) %> |
<%= link_to 'Zurück', orders_path %>
