<%= form_for(@applied_material) do |f| %>
  <%= form_error_messages f %>

  <div class="field">
    <%= f.label :amount %>
    <%= f.text_field :amount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
