<h1>Übersicht verwendete Materialien</h1>

<table>
  <tr>
    <th><%= Address.human_attribute_name(:amount) %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @applied_materials.each do |applied_material| %>
  <tr>
    <td><%= applied_material.amount %></td>
    <td><%= link_to t(:show), applied_material %></td>

    <% if write_access? applied_material %>
      <td><%= link_to t(:edit), edit_applied_material_path(applied_material) %></td>
      <td><%= link_to t(:destroy), applied_material, :confirm => t(:confirm_delete), :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if write_access? %>
<%= link_to 'Neues verwendetes Material', new_applied_material_path %>
<% end %>