<h1><%= t(:overview)%> <%= User.model_name.human %></h1>
<table>
  <tr>
    <th><%= User.human_attribute_name(:id) %> </th>
    <th><%= t (:name) %> </th>
    <th><%= User.human_attribute_name(:type) %> </th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user %></td>
      <td><%= user.type %></td>
      <td><%= link_to t(:show), user_path(user) %></td>

      <% if write_access? user %>
        <td><%= link_to t(:edit), edit_user_path(user) %></td>
        <td><%= link_to t(:destroy), user_path(user), :confirm => :confirm_delete, :method => :delete %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<br />
<% if write_access? %>
  <%= link_to 'Neuen ' + User.model_name.human, new_user_path %>
<% end %>
