<h1>Benutzerübersicht</h1>

<table>
  <tr>
    <th>Vorname</th>
    <th>Nachname</th>
    <th>Email</th>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.email %></td>
      <td><%= @user_types.index(user.user_type) %></td>
      <td><%= link_to 'Anzeigen', user %></td>

      <% if write_access? user %>
        <td><%= link_to 'Bearbeiten', edit_user_path(user) %></td>
        <td><%= link_to 'Löschen', user, :confirm => 'Benutzer wirklich löschen?', :method => :delete %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<br />
<% if write_access? %>
  <%= link_to 'Neuen Benutzer anlegen', new_user_path %>
<% end %>
