<p id="notice"><%= notice %></p>

<p>
  <b>Vorname:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Nachname:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Type:</b>
  <%= @user_types.index(@user.user_type) %>
</p>


<%= link_to 'Bearbeiten', edit_user_path(@user) %> |
<%= link_to 'Zurück', users_path %>
