<h1>Listing time_entry_types</h1>

<table>
  <tr>
    <th>Ancestor</th>
    <th>Description</th>
    <th>Updated at</th>
    <th>Valid until</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @time_entry_types.each do |time_entry_type| %>
  <tr>
    <td><%# = time_entry_type.ancestor %></td>
    <td><%= time_entry_type.description %></td>
    <td><%= time_entry_type.updated_at %></td>
    <td><%= time_entry_type.valid_until %></td>
    <td><%= link_to 'Show', time_entry_type %></td>

    <% if write_access? time_entry_type %>
      <td><%= link_to 'Edit', edit_time_entry_type_path(time_entry_type) %></td>
      <td><%= link_to 'Destroy', time_entry_type, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if write_access? %>
  <%= link_to 'New Time entry type', new_time_entry_type_path %>
<% end %>
