<h1>Übersicht Zeiteinträge</h1>

<table>
  <tr>
    <th>Vorgänger</th>
    <th>Beschreibung</th>
    <th>Aktualisiert am</th>
    <th>Gültig bis</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @time_entry_types.each do |time_entry_type| %>
  <tr>
    <td><%# = time_entry_type.ancestor %></td>
    <td><%= time_entry_type.description %></td>
    <td><%= time_entry_type.updated_at %></td>
    <td><%= time_entry_type.valid_until %></td>
    <td><%= link_to 'Anzeigen', time_entry_type %></td>

    <% if write_access? time_entry_type %>
      <td><%= link_to 'Bearbeiten', edit_time_entry_type_path(time_entry_type) %></td>
      <td><%= link_to 'Löschen', time_entry_type, :confirm => 'Zeiteintrag wirklich löschen?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if write_access? %>
  <%= link_to 'Neuer Zeiteintrag', new_time_entry_type_path %>
<% end %>
