<p id="notice"><%= notice %></p>

<p>
  <b>Vorgänger:</b>
  <%# = @time_entry_type.ancestor %>
</p>

<p>
  <b>Beschreibung:</b>
  <%= @time_entry_type.description %>
</p>

<p>
  <b>Aktualisiert am:</b>
  <%= @time_entry_type.updated_at %>
</p>

<p>
  <b>Gültig bis:</b>
  <%= @time_entry_type.valid_until %>
</p>


<%= link_to 'Bearbeiten', edit_time_entry_type_path(@time_entry_type) %> |
<%= link_to 'Zurück', time_entry_types_path %>
