<h1><%= t(:detail)%> Stundeneintragstyp</h1>

<% fields = [:id, :description] %>
<% fields.each do |f| %>
  <p>
    <b><%= TimeEntryType.human_attribute_name(f) %>:</b>
    <%= @time_entry_type.send(f) %>
  </p>
<% end %>

<div id="<%= dom_id(@time_entry_type) %>">
  <b>Benötigtes Material:</b>

  <%= render 'time_entry_type_materials', :time_entry_type_materials => @time_entry_type.time_entry_type_materials %>
  <%= link_to Material.model_name.human  + " hinzufügen", add_material_time_entry_type_path(@time_entry_path), :remote => true %> |
  <%= link_to 'Neues ' +  Material.model_name.human +   ' erfassen', new_material_path %>
</div>

</p>

<br>
<%= link_to t(:edit), edit_time_entry_type_path(@time_entry_type) %> |
<%= link_to t(:back), time_entry_types_path %>
</br>

