<%= form_for(@material) do |f| %>
  <% if @material.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@material.errors.count, "error") %> prohibited this material from being saved:</h2>

      <ul>
      <% @material.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Katalogid %><br />
    <%= f.text_field :catalog_id %>
  </div>
  <div class="field">
    <%= f.label :Beschreibung %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :Dimensionen %><br />
    <%= f.text_field :dimensions %>
  </div>
  <div class="field">
    <%= f.label :Preis %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :Gültig_bis %><br />
    <%= f.datetime_select :valid_until %>
  </div>
  <div class="actions">
    <%= f.submit "Material ändern"%>
  </div>
<% end %>
