<h1>Übersicht Materialien</h1>

<table>
  <tr>
    <th>Katalogid</th>
    <th>Beschreibung</th>
    <th>Dimensionen</th>
    <th>Preis</th>
    <th>Gültig bis</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @materials.each do |material| %>
  <tr>
    <td><%= material.catalog_id %></td>
    <td><%= material.description %></td>
    <td><%= material.dimensions %></td>
    <td><%= material.price %></td>
    <td><%= material.valid_until %></td>
    <td><%= link_to 'Anzeigen', material %></td>

     <% if write_access? material %>
      <td><%= link_to 'Bearbeiten', edit_material_path(material) %></td>
      <td><%= link_to 'Löschen', material, :confirm => 'Material wirklich löschen?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if write_access? %>
  <%= link_to 'Neues Material erstellen', new_material_path %>
<% end %>
