<p id="notice"><%= notice %></p>

<% fields =  Material.column_names %>
<% fields.each do |f| %>
  <p>
    <b><%= Material.human_attribute_name(f) %></b>
    <%= @material.send(f) %>
  </p>
<% end %>

<%= link_to t(:edit), edit_material_path(@material) %> |
<%= link_to t(:back), materials_path %>
