<p id="notice"><%= notice %></p>

<p>
  <b>Catalog_id:</b>
  <%= @material.catalog_id %>
</p>

<p>
  <b>Description:</b>
  <%= @material.description %>
</p>

<p>
  <b>Dimensions:</b>
  <%= @material.dimensions %>
</p>

<p>
  <b>Price:</b>
  <%= @material.price %>
</p>

<p>
  <b>Valid_until:</b>
  <%= @material.valid_until %>
</p>


<%= link_to 'Edit', edit_material_path(@material) %> |
<%= link_to t(:back), materials_path %>
