<%= form_for(@time_entry) do |f| %>
  <% if @time_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@time_entry.errors.count, "error") %> prohibited this time_entry from being saved:</h2>

      <ul>
        <% @time_entry.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :order_id %>:<br />
    <%= f.select(:order_id, Order.for_select, {:include_blank => true}) %>
    <% if write_access? %>
      <%= link_to 'Neuen ' + Order.model_name.human + ' erfassen', new_order_path %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :customer_id %>:<br />
    <%= f.select(:customer_id, Customer.for_select, {:include_blank => true}) %>
    <% if write_access? %>
      <%= link_to 'Neuen ' + Customer.model_name.human + ' erfassen', new_order_path %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :time_entry_type_id %>:<br />
    <%= f.select(:time_entry_type_id, TimeEntryType.for_select, {:include_blank => true}) %>
    <% if write_access? %>
      <%= link_to 'Neuen ' + TimeEntryType.model_name.human + ' erfassen', new_time_entry_type_path %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :user_id %>:<br />
    <%=  f.select(:user_id, User.for_select(User::TYPE_FIELD_WORKER), {:include_blank => true}) %>
    <% if write_access? %>
      <%= link_to 'Neuen ' + User.model_name.human + ' erfassen', new_user_path %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :gps_position_id %>:<br />
    <%= @time_entry.gps_position.nil? ? "-" : @time_entry.gps_position %>
  </div>

  <div class="field">
    <%= f.label :description %>:<br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :time_start %>:<br />
    <%= f.datetime_select :time_start %>
  </div>
  <div class="field">
    <%= f.label :time_stop %>:<br />
    <%= f.datetime_select :time_stop %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
