<% unless time_entries.nil? %>
  <% fields = [:id, :customer, :time_entry_type, :user, :order, :description, :duration ] if fields.nil? %>

  <table>
    <tr>
      <% fields.each do |f| %>
        <th><%= TimeEntry.human_attribute_name(f) %></th>
      <% end %>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <% time_entries.each do |time_entry| %>
      <tr id="<%= dom_id(time_entry) %>">
        <% if fields.include? :id %><td><%= time_entry.id %></td><% end %>
        <% if fields.include? :customer %><td><%= time_entry.customer %></td><% end %>
        <% if fields.include? :time_entry_type %><td><%= time_entry.time_entry_type.description unless time_entry.time_entry_type.nil? %></td><% end %>
        <% if fields.include? :user %><td><%= time_entry.user %></td><% end %>
        <% if fields.include? :order %><td><%= time_entry.order %></td><% end %>
        <% if fields.include? :description %><td><%= time_entry.description %></td><% end %>
        <% if fields.include? :duration %><td><%= l time_entry.duration, :format => :time %></td><% end %>
        <td><%= link_to t(:show), time_entry %></td>

        <% if write_access? time_entry %>
          <td><%= link_to t(:edit), edit_time_entry_path(time_entry) %></td>
          <td><%= link_to t(:destroy), time_entry, :confirm => t(:confirm_delete), :method => :delete %></td>
        <% else %>
          <td></td>
          <td></td>
        <% end %>
      </tr>
    <% end unless time_entries.nil? %>
  </table>
<% end %>