<h1><%= t(:overview) %>
  Stundeneinträge</h1>

<% fields = [:id, :customer, :time_entry_type, :user, :order, :description, :duration ] %>

<table>
  <tr>
    <% fields.each do |f| %>
      <th><%= TimeEntry.human_attribute_name(f) %></th>
    <% end %>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @time_entries.each do |time_entry| %>
    <tr>
      <td><%= time_entry.id %></td>
      <td><%= time_entry.customer.to_s unless time_entry.customer.nil? %></td>
      <td><%= time_entry.time_entry_type.description unless time_entry.time_entry_type.nil? %></td>
      <td><%= time_entry.user.to_s unless time_entry.user.nil? %></td>
      <td><%= time_entry.order.to_s unless time_entry.order.nil? %></td>
      <td><%= time_entry.description %></td>
      <td><%= l time_entry.duration, :format => :time %></td>
      <td><%= link_to t(:show), time_entry %></td>

      <% if write_access? time_entry %>
        <td><%= link_to t(:edit), edit_time_entry_path(time_entry) %></td>
        <td><%= link_to t(:destroy), time_entry, :confirm => t(:confirm_delete), :method => :delete %></td>
      <% else %>
        <td></td>
        <td></td>
      <% end %>
    </tr>
  <% end %>
</table>

<br />

<% if write_access? TimeEntry.new %>
  <%= link_to 'Neuer ' + TimeEntry.model_name.human, new_time_entry_path %>
<% end %>
