<h1><%= t(:overview) %>
  Stundeneinträge</h1>

<% fields =  TimeEntry.column_names %>
<% fields.delete('audio_record_name') %>
<% fields.delete('hashcode') %>

<table>
  <tr>
    <% fields.each do |f| %>
      <th><%= TimeEntry.human_attribute_name(f) %></th>
    <% end %>
    <th><%= t(:duration)%></th>
    <!--<th>Position</th>
    <th>Audio record name</th>-->
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @time_entries.each do |time_entry| %>
    <tr>
      <td><%= time_entry.id %></td>
      <td><%= [ time_entry.customer.last_name, time_entry.customer.first_name ].join(', ') unless time_entry.customer.nil? %></td>
      <td><%= time_entry.time_entry_type.description unless time_entry.time_entry_type.nil? %></td>
      <td><%= [ time_entry.user.last_name, time_entry.user.first_name ].join(', ') unless time_entry.user.nil? %></td>
      <td><%= [ time_entry.position.latitude, time_entry.position.logitude ].join(', ') unless time_entry.position.nil? %></td>
      <td><%= [ time_entry.order.created_at, time_entry.order.description ].join(', ') unless time_entry.order.nil? %></td>

      <td><%= time_entry.description %></td>
      <td><%= l time_entry.time_start %></td>
      <td><%= l time_entry.time_stop %></td>
      <td><%= l time_entry.created_at %></td>
      <td><%= l time_entry.updated_at %></td>
      <td><%= l Time.at(time_entry.time_stop - time_entry.time_start).gmtime, :format => :time %></td>

      <td><%= link_to t(:show), time_entry %></td>

      <% if write_access? time_entry %>
        <td><%= link_to t(:edit), edit_time_entry_path(time_entry) %></td>
        <td><%= link_to t(:destroy), time_entry, :confirm => t(:confirm_delete), :method => :delete %></td>
      <% else %>
        <td></td>
        <td></td>
      <% end %>
    </tr>
  <% end %>
</table>

<br />

<% if write_access? TimeEntry.new %>
  <%= link_to 'Neuer ' + TimeEntry.model_name.human, new_time_entry_path %>
<% end %>
