<% fields= [:description,:time_start,:time_stop,:created_at, :updated_at] %>

<p>
  <b><%= TimeEntry.human_attribute_name(:id)%>:</b>
  <%= @time_entry.id %>
</p>

<p>
  <b><%= TimeEntry.human_attribute_name(:customer_id)%>:</b>
  <%= [ @time_entry.customer.last_name, @time_entry.customer.first_name ].join(', ') unless @time_entry.customer.nil? %>
</p>

<p>
  <b><%= TimeEntry.human_attribute_name(:time_entry_type_id)%>:</b>
  <%= @time_entry.time_entry_type.description unless @time_entry.time_entry_type.nil?  %>
</p>

<p>
  <b><%= TimeEntry.human_attribute_name(:user_id)%>:</b>
  <%= [@time_entry.user.first_name,@time_entry.user.last_name].join(', ') unless @time_entry.user.nil?  %>
</p>

<p>
  <b><%= TimeEntry.human_attribute_name(:location_id)%>:</b>
  <%= [@time_entry.location.latitude, @time_entry.location.longitude].join(', ') unless @time_entry.location.nil?  %>
</p>

<p>
  <b><%= TimeEntry.human_attribute_name(:order_id)%>:</b>
  <%= [@time_entry.order.created_at,@time_entry.order.description].join(', ') unless @time_entry.order.nil?  %>
</p>


<% fields.each do |f| %>
  <p>
    <b><%= TimeEntry.human_attribute_name(f) %></b>
    <%= @time_entry.send(f) %>
  </p>
<% end %>

<%= link_to t(:edit), edit_time_entry_path(@time_entry) %> |
<%= link_to t(:back), time_entries_path %>
