<p id="notice"><%= notice %></p>

<p>
  <b>Kunde:</b>
  <%= @time_entry.customer_id %>
</p>

<p>
  <b>Zeiteintragstyp:</b>
  <%= @time_entry.time_entry_type_id %>
</p>

<p>
  <b>Hashcode:</b>
  <%= @time_entry.hashcode %>
</p>

<p>
  <b>Beschreibung:</b>
  <%= @time_entry.description %>
</p>

<p>
  <b>Time start:</b>
  <%= @time_entry.time_start %>
</p>

<p>
  <b>Time stop:</b>
  <%= @time_entry.time_stop %>
</p>

<p>
  <b>Position:</b>
  <%= @time_entry.position_id %>
</p>

<p>
  <b>Aufnahme:</b>
  <%= @time_entry.audio_record_name %>
</p>


<%= link_to 'Bearbeiten', edit_time_entry_path(@time_entry) %> |
<%= link_to 'Zurück', time_entries_path %>
