<p id="notice"><%= notice %></p>

<p>
  <b>Kunde:</b>
  <%= [ @time_entry.customer.last_name, @time_entry.customer.first_name ].join(', ') unless @time_entry.customer.nil? %>
</p>

<p>
  <b>Zeiteintragstyp:</b>
  <%= @time_entry.time_entry_type.description unless @time_entry.time_entry_type.nil?  %>
</p>

<p>
  <b>Hashcode:</b>
  <%= @time_entry.hashcode %>
</p>

<p>
  <b>Beschreibung:</b>
  <%= @time_entry.description %>
</p>

<p>
  <b>Time start:</b>
  <%= @time_entry.time_start %>
</p>

<p>
  <b>Time stop:</b>
  <%= @time_entry.time_stop %>
</p>

<%= link_to 'Bearbeiten', edit_time_entry_path(@time_entry) %> |
<%= link_to 'Zurück', time_entries_path %>
