<%= form_for(@time_entry_type) do |f| %>
  <%= form_error_messages f %>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
